pkgbase = maww
	pkgdesc = Animated backgrounds on Linux
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/JoaoCostaIFG/MAWW
	arch = x86_64
	license = MIT
	depends = imlib2
	depends = libx11
	source = maww-1.0.0.pkg.tar.zst::https://github.com/JoaoCostaIFG/MAWW/releases/download/v1.0.0/maww-1.0.0.pkg.tar.zst
	sha512sums = 424d06c17c23e4778fd8b39a6e22340ef7b9d51c6c1dc7755135b26cfb359717bebe6da2ecae917599d8913774097b13c3ed12fa7d1ce099709766bb73634228

pkgname = maww
