pkgbase = maww
	pkgdesc = Animated backgrounds on Linux
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/JoaoCostaIFG/MAWW
	arch = x86_64
	license = MIT
	depends = imlib2
	depends = libx11
	source = maww-1.0.2.pkg.tar.zst
	sha512sums = 48ec911b8ddedd92bdb726b68c625fc0274a69d7335c34152569bd085c72fc206f4844cbdcf77e7a588fa051acbaf49a85eb243e87a66c88c36cc784c59fbda4

pkgname = maww
